<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>글 작성 페이지</title>
    <!-- css 불러오기 -->
    <link href="/detail_page.css" rel="stylesheet" />
    <script>
        function checkAuth(path) {
            // 쿠키가 존재하지 않다면, 로그인 페이지로 이동
            if (!document.cookie) {
                alert("로그인이 필요한 기능입니다.");
                window.location.href = "/login";
            } else {
                window.location.href = `${path}`;
            }
        }

        // 댓글 추가 요청
        function writeComment(postID) {
            // 작성한 댓글 가져오기
            const commentContent = $("#write-comment-area").val();

            if (commentContent === '') {
                alert("댓글을 입력해주세요.");
                $("#write-comment-area").focus();
                return;
            }

            $.ajax({
                type: "post",
                url: `/api/comment/${postID}`,
                data: {
                    commentContent: commentContent,
                },
                success: function (response) {
                    console.log("success");
                    // 성공시 해당 상세 페이지로 이동
                    alert(response['message']);
                    location.href = `/detail/${postID}`;
                },
                error: function (error) {
                    console.log("error");
                    alert(error.responseJSON.errorMessage);
                    window.location.href = "/login";
                }
            });
        }
        // '편집'을 누를 시, 수정 가능한 태그로 변경
        function changeModifiableMode(idx) {
            // comment 내용 편집가능하도록 태그 변경
            const content = $(`#comment-content${idx}`).text().trim();
            $(`#comment-content${idx}`).contents().unwrap().wrap(`<textarea id="edit-mode-area${idx}" class="edit-mode-area" placeholder="댓글을 작성하세요." type="text" spellcheck="false"></textarea>`);
            $(`#edit-mode-area${idx}`).text(content);

            // 편집, 삭제 버튼 숨기기
            $(`#edit-btn${idx}`).hide();
            $(`#delete-btn${idx}`).hide();

            // 수정 버튼 나타내기
            $(`#toggle-box${idx}`).show();
        }

        // '편집 상태'에서 -> 취소를 누를시 호출
        function changeOriginMode(idx) {
            const content = $(`#edit-mode-area${idx}`).val();
            $(`#edit-mode-area${idx}`).contents().unwrap().wrap(`<p id="comment-content${idx}" class="comment-content"></p>`);
            $(`#comment-content${idx}`).text(content);

            $(`#toggle-box${idx}`).hide();

            // 편집, 삭제 버튼 드러내기
            $(`#edit-btn${idx}`).show();
            $(`#delete-btn${idx}`).show();


        }
        // 댓글 편집 요청
        function editComment(postID, commentID, idx) {


            //변경 할 댓글 내용
            const commentContent = $(`#edit-mode-area${idx}`).val();
            if (commentContent === '') {
                alert('댓글을 작성해주세요.');
                $(`#edit-mode-area${idx}`).focus();
                return;
            }

            $.ajax({
                type: "PUT",
                url: `/api/comment/${postID}/${commentID}`,
                data: {
                    commentContent: commentContent,
                },
                success: function (response) {
                    // 성공시 해당 상세 페이지로 이동
                    alert(response['message']);
                    location.href = `/detail/${postID}`;
                }
            });
        }

        // 댓글 삭제 요청
        function deleteComment(postID, commentID) {
            // 정말 삭제할지 재차 확인
            const checkOneMore = window.confirm("정말 삭제하시겠습니까?");
            if (!checkOneMore) {
                return;
            }

            $.ajax({
                type: "delete",
                url: `/api/comment/${postID}/${commentID}`,
                data: {
                },
                success: function (response) {
                    // 성공시 해당 상세 페이지로 이동
                    alert(response['message']);
                    location.href = `/detail/${postID}`;
                }
            });
        }
    </script>
</head>

<body>
    <div class="wrap">
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class=" container-fluid">
                <a class="navbar-brand" href="/">Jongwan's Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">돌아가기</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                onclick="checkAuth('/modify/<%=detailPost[0].postID %>'); return false;"
                                href="">수정하기</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="title-box">
                <input type="text" id="title-input" value="<%= detailPost[0].postTitle%>" disabled />
            </div>
            <div class="content-box">
                <textarea spellcheck="false" type="text" id="content-area"
                    disabled><%= detailPost[0].postContent%></textarea>
            </div>
            <div class="save-box">
                <span>작성자: <input id="writer-input" value="<%=detailPost[0].postWriter %>" type="text" disabled></span>
            </div>
            <div class="comment-write-box"><textarea placeholder="댓글을 작성해주세요." spellcheck="false" type="text"
                    id="write-comment-area"></textarea></div>
            <div class="save-box">
                <button id="save-btn" onclick="writeComment('<%= detailPost[0].postID %>')" type="button"
                    class="btn btn-success save-btn">댓글
                    작성</button>
            </div>
            <div id="comment-list-box">
                <!-- 댓글 리스트  -->
                <% for(let i=0; i< detailComment.length; i++){ %>
                    <div class="comment-wrap">
                        <p><b>
                                <%= detailComment[i].commentWriter %>
                            </b> / <span>
                                <%= detailComment[i].commentDate %>
                            </span>
                            <%if(detailComment[i].commentWriter===userNickname) { %>
                                <span class="edit-delete-box"><a href=""
                                        onclick="changeModifiableMode(<%=i%>); return false;" id="edit-btn<%=i%>"
                                        class="edit-btn">편집</a>
                                    <a href=""
                                        onclick="deleteComment('<%=detailComment[i].postID%>', '<%= detailComment[i].commentID%>'); return false;"
                                        id="delete-btn<%=i%>" class="delete-btn">삭제</a></span>
                                <% }%>
                        </p>
                        <div class="comment-box">
                            <p id="comment-content<%=i%>" class="comment-content">
                                <%=detailComment[i].commentContent %>
                            </p>
                        </div>
                        <div id="toggle-box<%=i%>" class="toggle-box" style="display:none">
                            <button id="cancel-btn" onclick="changeOriginMode(<%=i%>)" type="button"
                                class="btn btn-failure">취소
                            </button>
                            <button id="edit-btn"
                                onclick="editComment('<%=detailComment[i].postID%>', '<%= detailComment[i].commentID%>', <%=i%>)"
                                type="button" class="btn btn-success" style="margin-left: 5px">댓글 수정
                            </button>
                        </div>
                    </div>
                    <% } %>
            </div>

            <div class="empty-box"></div>
            <div class="empty-box"></div>
            <div class="empty-box"></div>
            <div class="empty-box"></div>
        </div>
    </div>
</body>

</html>