<!-- <%= detailPost%> -->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>글 작성 페이지</title>

    <style>
        * {
            font-family: "Apple SD Gothic Neo", "Nanum Barun Gothic", "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum, sans-serif;
        }

        .container {
            margin-top: 20px;
            width: 70%;
            height: 700px;
        }

        .title-box {
            padding-top: 10px;
            padding-left: 10px;
            width: 100%;
            height: 100px;
            margin: 0 auto 20px auto;
            background-color: white;
            border-radius: 6px;
            box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
        }

        .content-box {
            padding-top: 10px;
            padding-left: 10px;
            width: 100%;
            height: 450px;
            margin: 0 auto 20px auto;
            background-color: white;
            border-radius: 6px;
            box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
        }

        .save-box {
            width: 100%;
            height: 50px;
            margin: 0 auto 20px auto;
            border-radius: 6px;
            padding-right: 10px;
        }

        #title-input {
            width: 90%;
            height: 70px;
            margin: 0 auto 20px auto;
            font-size: 30px;
            border: 0 solid black;
            background-color: white;

        }

        #content-area {
            width: 90%;
            height: 430px;
            margin: 0 auto 20px auto;
            font-size: 20px;
            border: 0 solid black;
            resize: none;
            background-color: white;
        }

        input:focus,
        #content-area {
            outline: none;
        }

        .delete-btn,
        .modify-btn {
            width: 100px;
            height: 100%;
            float: right;
        }

        .modify-btn {
            margin-right: 10px;
        }

        #writer-input,
        #password-input {
            width: 70px;
            border: 0 solid black;
            border-bottom: 1px solid #eaecef;
            background-color: white;
        }
    </style>
    <script>
        function deleteContent(postID) {
            $.ajax({
                type: "DELETE",
                url: `/api/post/delete`,
                data: {
                    postID: postID
                },
                success: function (response) {
                    alert(response['msg']);
                    location.href = '/';
                }
            })
        }

        function modifyContent(postID) {
            const postTitle = $("#title-input").val();
            const postContent = $("#content-area").val();
            const postPassword = $("#password-input").val();

            $.ajax({
                type: "PUT",
                url: `/api/post/modify/${postID}`,
                data: {
                    postTitle: postTitle,
                    postContent: postContent,
                    postPassword: postPassword,
                },
                success: function (response) {
                    alert(response['msg']);
                    location.href = '/';
                }
            })
        }
    </script>
</head>

<body>
    <div class="wrap">
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class=" container-fluid">
                <a class="navbar-brand" href="/">Jongwan's Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">돌아가기</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="title-box">
                <input type="text" id="title-input" value="<%= detailPost[0].postTitle%>" />
            </div>
            <div class="content-box">
                <textarea spellcheck="false" type="text" id="content-area"><%= detailPost[0].postContent%></textarea>
            </div>
            <div class="save-box">
                <span>작성자: <input id="writer-input" value="<%=detailPost[0].postWriter %>" type="text" disabled></span>
                <span>비밀번호: <input id="password-input" type="password" placeholder="4자리" maxlength="4"></span>
                <button id="delete-btn" onclick="deleteContent('<%=detailPost[0].postID %>')" type="button"
                    class="btn btn-success delete-btn">삭제하기</button>
                <button id="modify-btn" onclick="modifyContent('<%=detailPost[0].postID %>')" type="button"
                    class="btn btn-success modify-btn">
                    수정완료</button>

            </div>

        </div>

        <div class="empty-box"></div>
    </div>
</body>

</html>