<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/modify_page.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>글 작성 페이지</title>


    <script>
        // 삭제하기 버튼 눌렀을 경우 호출
        function deleteContent(postID, userPassword) {
            const postPassword = $('#password-input').val();
            // 비밀번호가 안 적혀있을 경우
            if (postPassword.length < 4) {
                alert("비밀번호를 입력해주세요.");
                $('#password-input').focus();
                return;
            }
            // 비밀번호가 일치하지 않은 경우
            if (!checkPasswords(postPassword, userPassword)) {
                return;
            }

            $.ajax({
                type: "DELETE",
                url: `/api/post/delete/${postID}`,
                data: {
                    postPassword: postPassword
                },
                success: function (response) {
                    alert(response['msg']);
                    if (response['result']) {
                        location.href = '/'
                    } else {
                        window.location.reload();
                    }
                }
            })
        }
        // 수정 완료 버튼을 눌렀을 경우 호출
        function modifyContent(postID, userPassword) {
            const postTitle = $("#title-input").val();
            const postContent = $("#content-area").val();
            const postPassword = $("#password-input").val();

            // 비밀번호가 안 적혀있을 경우
            if (postPassword.length < 4) {
                alert("비밀번호를 입력해주세요.");
                $('#password-input').focus();
                return;
            }

            // 비밀번호가 일치하지 않은 경우
            if (!checkPasswords(postPassword, userPassword)) {
                return;
            }

            $.ajax({
                type: "PUT",
                url: `/api/post/modify/${postID}`,
                data: {
                    postTitle: postTitle,
                    postContent: postContent,
                    postPassword: postPassword,
                },
                success: function (response) {
                    alert(response['msg']);
                    if (response['result']) {
                        location.href = '/'
                    } else {
                        window.location.reload();
                    }
                }
            })
        }

        // 비밀번호가 일치하지 않은 경우
        function checkPasswords(postPassword, userPassword) {
            if (postPassword != userPassword) {
                alert("비밀번호가 일치하지 않습니다.");
                alert(postPassword, userPassword);
                $('#password-input').focus();
                return false;
            }
            return true;
        }
    </script>
</head>

<body>
    <div class="wrap">
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class=" container-fluid">
                <a class="navbar-brand" href="/">Jongwan's Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">돌아가기</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="title-box">
                <input type="text" id="title-input" value="<%= detailPost[0].postTitle%>" />
            </div>
            <div class="content-box">
                <textarea spellcheck="false" type="text" id="content-area"><%= detailPost[0].postContent%></textarea>
            </div>
            <div class="save-box">
                <div class="inner-box1">
                    <span>작성자: <input id="writer-input" value="<%=detailPost[0].postWriter %>" type="text"
                            disabled></span>
                    <span>비밀번호: <input id="password-input" type="password" placeholder="비밀번호"></span>
                </div>
                <div class="inner-box2">
                    <button id="delete-btn"
                        onclick="deleteContent('<%=detailPost[0].postID %>', '<%= user.userPassword %>')" type="button"
                        class="btn btn-success delete-btn">삭제하기</button>
                    <button id="modify-btn"
                        onclick="modifyContent('<%=detailPost[0].postID %>', '<%= user.userPassword %>')" type="button"
                        class="btn btn-success modify-btn">수정완료</button>
                </div>
            </div>

        </div>

        <div class="empty-box"></div>
    </div>
</body>

</html>